footer.entero
    .medio
        .footer_uno.footer_items
            a(href="/")
                img(src="/images/logo-footer.png")
            p Cras eleifend facilisis venenatis. Maecenas ullamcorper sapien eu porttitor dictum. Maecenas ullamcorper sapien
        .footer_dos.footer_items
            p.volteado CONTACTO
            span
                a(href="tel:+555455654") Telefono: +55 545 5654
                a(href="tel:3216980") Fax: 321 6980
                a(href="mailto:noticias@mail.com") noticias@mail.com
        .footer_tres.footer_items
            p.volteado SECCIONES
            span
                a(href="/") Politica
                a(href="/") Nacionales
                a(href="/") Internacionales
                a(href="/") Entretenimiento
                a(href="/") Deportes
                a(href="/") Estilo de vida
                a(href="/") Moda
        .footer_cuatro.footer_items
            p.volteado INFORMACION 
            span
                a(href="/") Acerca de nosotros
                a(href="/") Terminos y condiciones
                a(href="/") Politica de privacidad
                a(href="/") Preguntas frecuentes
.ultimo.entero
    .medio
        p Copyright 2019. 
            a(href="/") Design by Anggie Zambrano
        .redes_items
            a(href="/")
                i.icon-facebook
            a(href="/")
                i.icon-twitter
            a(href="/")
                i.icon-google
        i.icon-angle-down.top_icon
                