header.entero
    .medio
        span.bars_group#bars_group
            i.icon-bars.icon_header#icon-bars-top
            i.icon-times.ocultar_icono.icon_header.x_bars#x_bars
        span.date
            i.icon-calendar.icon_header
            | Domingo, 20 de agosto de 2019
        span.search_group
            i.icon-search.icon_header.icon_search_top 
            i.icon-times.x_search.ocultar_icono.icon_header
        form(action="").form_search_header
            input(type="text" placeholder="INGRESE SU BUSQUEDA Y PRESIONE ENTER")
        include main_menu