.secound_menu.entero
    .medio
        .left
            span.bars_group#bars_group_secound
                i.icon-bars.icon_header#icon_bars_secound 
                i.icon-times.ocultar_icono.icon_header.x_bars#x_secound 
            img(src="/images/logo.png")
        .right#tercer_menuss
            a(href="/") HOME
            a(href="/") POLITICA
            a(href="/") INTERNACIONALES
            a(href="/") DEPORTES 
        span.bars_group#bars_group_tercero
            i.icon-times.ocultar_icono.icon_header.x_bars#x_tercero
            i.icon-bars.icon_header#icon_bars_tercero
            